# Main APP
############
# FastAPI framework
uvicorn==0.25.0
fastapi==0.108.0
# ORM
SQLAlchemy==2.0.25
# Replacement for psycopg2 to use asyncio with postgres.
asyncpg==0.29.0
# Database migrations
alembic==1.13.1

# Testing
##########
pytest==7.4.4

# Allows to write `async def` tests and fixtures
pytest-asyncio==0.23.3

# Httpx is an asyncio requests like library, used for testing purposes.
httpx==0.26.0
# aiosqlite is used as an SQLite driver for asyncio tests
aiosqlite==0.19.0

# Allows to freeze test time
freezegun==1.4.0

# Generate snapshots, used for API testing
pytest-snapshot==0.9.0

# Distribution
###############
pyinstaller==6.3.0
